<%= form_for(@saysomething) do |f| %>
  <% if @saysomething.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saysomething.errors.count, "error") %> prohibited this saysomething from being saved:</h2>

      <ul>
      <% @saysomething.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :headlines %><br />
    <%= f.text_field :headlines %>
  </div>
  <div class="field">
    <%= f.label :say %><br />
    <%= f.text_area :say %>
  </div>
  <div class="field">
    <%= f.label :interests %><br />
    <%= f.text_field :interests %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
