

<div id="container">
<div id="header">



<img src="<%= image_path 'logo.png' %>" width="357" height="100" />

<ul id="topnav">
    <li>About</li>
   <li>Tour</li>
   <li>Login</li>
</ul>
</div><!--div header-->
<div id="central">
	</br>
	

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true }) do |f| %>
	
<fieldset class="sectionwrap">
		<legend>Basic Information</legend>
	<%= devise_error_messages! %>

<center>

<img id='image_princess' src="<%= image_path 'princess.jpg' %>" width="325" height="309" />


<img id ='image_frog' src="<%= image_path 'frog.jpg' %>" width="325" height="309" />



<div id="downcentral"><!-- total own -->
</br>
</br>


<div id='step1'>
<div id="emotion">
<div id="sep1">
	<%= f.radio_button(:sex,"female") %> 
	 
	<label for="user_sex_female">
<div id = "button_princess"> <!-- space for button -->
	<div id="positionprincessbutton"> <!-- space for button real -->
	I'm a Princess
	</div>
</div>

	</label>
</div>	
		<div id="blankspace2"></div><!-- blank space -->

<div id= "sep2">
	<%= f.radio_button(:sex,"male") %>
	

		<label for="user_sex_male"><div id="button_frog">
		<div id="positionfrogbutton">
		 - I'm a Frog  -  
		</div>
		</div></label>
</div>
</div>



</fieldset>





<fieldset class="sectionwrap">

	<legend>step 2</legend>
<div id='step2'>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :country %>
  <%= f.text_field :country %>

  <%= f.label :province %>
  <%= f.text_field :province %>

  <%= f.label :city %>
  <%= f.text_field :city %>
</div>
</fieldset>

<fieldset class="sectionwrap">
<div id='step3'>
   <%= f.label :birthdate %>
  <%= f.date_select :birthdate %>

    <%= f.file_field :avatar %>
</div>
</fieldset>

<fieldset class="sectionwrap">

<div id='step4'>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>



  <div><%= f.submit "Sign up" %> </div>

 </div>

	</fieldset>


</div><!--downcentral -->

<% end %>

<%= render "devise/shared/links" %>


<div id="footer">
   This will hold the footer
</div>

</div><!--div container-->


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script>
$('#emotion input:radio').addClass('input_hidden');

$('#sep1 label').click(function(){
	$("#image_princess").attr("src","../assets/princess2.jpg");
	$("#image_frog").attr("src","../assets/frog.jpg");
    
    $('#sep2 label').removeClass('selected2');

});

$('#sep2 label').click(function(){
	$("#image_princess").attr("src","../assets/princess.jpg");
	$("#image_frog").attr("src","../assets/frog2.jpg");
  
    $('#sep1 label').removeClass('selected1');

});

</script>



