<!-- this page is the main registration page -->
<div id="container"> <!--div of main container-->
	<div id="header"> <!--div of header-->
		<!-- put logo in -->
		

				<ul id="topnav">
    				<li>About</li>
   					<li>Tour</li>
   					<li>Login</li>
				</ul>
				
	</div><!--div header ends here-->
  
	<%= form_for resource, :as => resource_name, :validate => true, :url => registration_path(resource_name), :html => { :id => "staff_feedbackform", :multipart => true } do |f| %>
	

	</br>	
		<fieldset class="sectionwrap">
		<%= devise_error_messages! %>
       
<div id="left_pic3">
		<%= link_to " click here", new_album_path, :id =>"gritterid", remote: true %>
</div>
	
        <div class="center_pics">
			<img id='image_princess' src="<%= image_path 'princess.jpg' %>" width="325" height="309" />

			<img id ='image_frog' src="<%= image_path 'frog.jpg' %>" width="325" height="309" />
			<div id="downcentral"><!-- total own -->
					</br></br>		
						<div id="emotion">
								<div id="sep1">
									<%= f.radio_button(:sex,"female") %> 
	 
										<label for="user_sex_female">
											<div id = "button_princess"> <!-- space for button -->								
													I'm a Princess
					
											</div> <!-- end button_princess-->

										</label>
									</div><!-- end sep1 -->
									
		<div id="blankspace2"></div><!-- blank space -->

								<div id= "sep2">
									<%= f.radio_button(:sex,"male") %>
	

										<label for="user_sex_male">
											<div id="button_frog">
		 											- I'm a Frog  -  	
											</div> <!--end button_frog -->
										</label>
								</div><!-- end sep2 -->
          </div><!--emotion-->
</div>
</div>
			<div class="right_pic">pictures here too</div>
			</fieldset> 
			

			<fieldset class="sectionwrap"><!-- lets begin a new section -->

				<div class="left_pic">
				</div>
				  <div class="center_pics">
		<section class='input'>
  			<%= f.label :name %>
  					<div><%= f.text_field :name, :validate => { :presence => true, :uniqueness => true} %></div>
			</br>

               <%= f.label :wherelive %>
				 <div><%= f.text_field :wherelive, :placeholder => "Where do you live?", :validate => { :presence => true, :uniqueness => true} %></div>
				
				</br>
				
  						<%= f.label :country %>
  		<div><%= f.text_field :country %></div>
		</br>
  				<%= f.label :province %>
  				<div><%= f.text_field :province %></div>
		</br>
  				<%= f.label :city %>
  			<div>	<%= f.text_field :city %></div>
		</section>
</div>
<div class="right_pic"></div>
			</fieldset> <!-- this ends the second fieldset of 4 -->


			<fieldset class="sectionwrap">
				<div class="left_pic">
				</div>
				 <div class="center_pics">

   				<%= f.label :birthdate, :id => "user_birthdate" %>
 				<div><%= f.date_select :birthdate, :order => [:day, :month, :year], :start_year => 1950, :id => "user_birthdate" %></div>

   
                 </div>
			</fieldset>

			<fieldset class="sectionwrap">
				<div class="left_pic">
				</div>
 <div class="center_pics">
				<div>
  				<%= f.label :email %><br />
  				<%= f.email_field :email %>
				</div>
				<div>
  				<%= f.label :password %><br />
  				<%= f.password_field :password %>
				</div>
				<div>
  				<%= f.label :password_confirmation %><br />
  				<%= f.password_field :password_confirmation %>
				</div>

  				<div><%= f.submit "Sign up" %> </div>
</div>
			</fieldset>

</div><!--downcentral -->

<% end %>

<%= render "devise/shared/links" %>


<div id="footer">
   This will hold the footer
   this is my IP: <%= request.ip %>
</div>

</div><!--div container-->


<script>
$('#emotion input:radio').addClass('input_hidden');

$('#sep1 label').click(function(){
	$("#image_princess").attr("src","../assets/princess2.gif");
	$("#image_frog").attr("src","../assets/frog.jpg");
    
    $('#sep2 label').removeClass('selected2');

});

$('img#image_princess').click(function(){
	$("#image_princess").attr("src","../assets/princess2.gif");
	$("#image_frog").attr("src","../assets/frog.jpg");
    
    $('#sep2 label').removeClass('selected2');

});

$('#sep2 label').click(function(){
	$("#image_princess").attr("src","../assets/princess.jpg");
	$("#image_frog").attr("src","../assets/frog2.gif");
  
    $('#sep1 label').removeClass('selected1');

});

$('img#image_frog').click(function(){
		$("#image_princess").attr("src","../assets/princess.jpg");
		$("#image_frog").attr("src","../assets/frog2.gif");

	    $('#sep1 label').removeClass('selected1');

	});
</script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="../assets/jquery-ui-1.8.7.min.js"></script>
<script src="../assets/jquery.ui.addresspicker.js"></script>
<script>
$(function() {

	var addresspickerMap = $( "#user_wherelive" ).addresspicker({
		regionBias: "fr",
	  elements: {
	    map:      "#map",
	    lat:      "#lat",
	    lng:      "#lng",
	    locality: '#user_city',
	    administrative_area_level_2: '#administrative_area_level_2',
	    administrative_area_level_1: '#user_province',
	    country:  '#user_country',
	    postal_code: '#postal_code',
    type:    '#type' 
	  }
	});
	var gmarker = addresspickerMap.addresspicker( "marker");
	gmarker.setVisible(true);
	addresspickerMap.addresspicker( "updatePosition");
	
});
</script>
<script type="text/javascript" src="http://www.google.com/jsapi?"></script>

<script>

function geoTest() {

	if (google.loader.ClientLocation) {
		
		var latitude = google.loader.ClientLocation.latitude;
		var longitude = google.loader.ClientLocation.longitude;
		var city = google.loader.ClientLocation.address.city;
		var country = google.loader.ClientLocation.address.country;
		var country_code = google.loader.ClientLocation.address.country_code;
		var region = google.loader.ClientLocation.address.region;
	   
		var text = 'Your Location<br /><br />Latitude: ' + latitude + '<br />Longitude: ' + longitude + '<br />City: ' + city + '<br />Country: ' + country + '<br />Country Code: ' + country_code + '<br />Region: ' + region;
	
		
		
	} else {
		
		var text = 'Google was not able to detect your location';
	
	}
	
	document.write(text);
	

}


geoTest();


</script>




<script type="text/javascript" src="../assets/jquery.gritter.js"></script>
<script>  
$.fn.simulateClick = function() {
    return this.each(function() {
        if('createEvent' in document) {
            var doc = this.ownerDocument,
                evt = doc.createEvent('MouseEvents');
            evt.initMouseEvent('click', true, true, doc.defaultView, 1, 0, 0, 0, 0, false, false, false, false, 0, null);
            this.dispatchEvent(evt);
        } else {
            this.click(); // IE
        }
    });
}

<% (1..1).each do |i| %>

   $('#gritterid').simulateClick();


<% end %>
// $('#user_wherelive').val(google.loader.ClientLocation.address.city+', '+ google.loader.ClientLocation.address.region+', '+google.loader.ClientLocation.address.country);
</script>

