<p id="notice"><%= notice %></p>

<p>
  <b>Height:</b>
  <%= @desc.height %>
</p>

<p>
  <b>Bodytype:</b>
  <%= @desc.bodytype %>
</p>

<p>
  <b>Eye:</b>
  <%= @desc.eye %>
</p>

<p>
  <b>Hair:</b>
  <%= @desc.hair %>
</p>

<p>
  <b>Ethnicity:</b>
  <%= @desc.ethnicity %>
</p>

<p>
  <b>Religion:</b>
  <%= @desc.religion %>
</p>

<p>
  <b>Education:</b>
  <%= @desc.education %>
</p>

<p>
  <b>Profession:</b>
  <%= @desc.profession %>
</p>

<p>
  <b>Marital:</b>
  <%= @desc.marital %>
</p>

<p>
  <b>Longestrelation:</b>
  <%= @desc.longestrelation %>
</p>

<p>
  <b>Kids:</b>
  <%= @desc.kids %>
</p>

<p>
  <b>Wantkids:</b>
  <%= @desc.wantkids %>
</p>

<p>
  <b>Pets:</b>
  <%= @desc.pets %>
</p>

<p>
  <b>Smoke:</b>
  <%= @desc.smoke %>
</p>

<p>
  <b>Drink:</b>
  <%= @desc.drink %>
</p>

<p>
  <b>Drug:</b>
  <%= @desc.drug %>
</p>

<p>
  <b>Language:</b>
  <%= @desc.language %>
</p>


<%= link_to 'Edit', edit_desc_path(@desc) %> |
<%= link_to 'Back', descs_path %>
